body {
    color: #000;
}

table {
    color: #000;
}

.topbar {
    height: 45px;
}

.navbar {
    margin-left: 220px;
}

.sidebar {
    margin-top: -4%;
    border-right: 1px solid #ddd;
}

.page-title {
    font-size: 20px;
}

.navbar-brand {
    color: #fff;
}

.navbar.navbar-inverse {
    background: #2a72b5
}

.navbar.navbar-inverse .navbar-brand,
.navbar.navbar-inverse .navbar-nav>li>a {
    color: #ffffff
}


/* Start Breadcrumb  Style*/

.breadcrumb-container {
    margin-left: -2.4% !important;
    margin-right: -2.5% !important;
    margin-bottom: 2% !important;
    height: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);
}

.breadcrumb-container ol {
    width: 100%;
    background: #FFFFFF;
}

.breadcrumb {
    margin-top: -1.9%;
    padding: 4px 15px!important;
}


/*End Breadcrumb Style*/

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.page-sidebar-minified .sidebar .nav-profile {
    height: 86px;
    display: block;
}

.page-sidebar-minified .sidebar .nav-profile image {
    display: none;
}

.page-sidebar-minified .navbar {
    margin-left: 60px;
}

.panel {
    border: 0;
    border-radius: 0;
    border-left: 3px solid transparent;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);
}

.panel-success {
    border-left-color: #43965e;
}

.panel-info {
    border-left-color: #008cae;
}

.panel-warning {
    border-left-color: #cc8600;
}

.panel-danger {
    border-left-color: #b23c29;
}

.panel-primary {
    border-left-color: #118fdd;
}

.panel-danger>.panel-heading,
.panel-info>.panel-heading,
.panel-inverse>.panel-heading,
.panel-primary>.panel-heading,
.panel-success>.panel-heading,
.panel-warning>.panel-heading {
    color: #000
}

.btn {
    border-radius: 0;
    border-left: 1px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-default {
    border-left-color: #555555;
}

.btn-success {
    border-left-color: #43965e;
}

.btn-info {
    border-left-color: #008cae;
}

.btn-warning {
    border-left-color: #cc8600;
}

.btn-danger {
    border-left-color: #b23c29;
}

.btn-primary {
    border-left-color: #118fdd;
}

.ui-button {
     display: inline-block;
    position: relative;
    padding: 5px;
    line-height: normal;
    margin-right: .1em;
    margin-bottom:1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
        border-radius: 0;
    border-left: 1px solid #555555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);

}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: .3em;
}

.btn.btn-success {
    color: #fff;
    background: #167C47;
    border-color: #167C47;
}
.navbar-brand{font-weight: 700;font-size: 2em;}
.panel-title{font-weight: 600;font-size: 1.5em;}
@media (max-width:767px) {
    .navbar {
        margin-left: 0;
    }
    .breadcrumb-container {
        margin-bottom: 12% !important;
    }
}
.field-separator{
    clear: both;
    margin-bottom: 10px;
}